@inject IHttpContextAccessor Context
@inject RequestContext RequestContext
<!DOCTYPE html>
<html lang="en" class="theme-@(RequestContext.IsLoggedIn ? RequestContext.PrivateProfile.Theme : Theme.SystemDefault) accent-color-@RequestContext.AccentColor">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="@Assets["favicon.png"]" />
    <HeadOutlet />
</head>

<body>

    <ErrorBoundary>
        <ChildContent>
            <Routes />
        </ChildContent>
        <ErrorContent Context="exception">
            <AppViewLite.Web.Components.Layout.MainLayout>
                <Body>
                    <div class="page-error" data-islogouterror="@(exception.AnyInnerException(x => x is LoggedOutException) ? 1 : 0)">
                        ❌
                        @Program.GetExceptionDisplayText(exception)
                        <p>
                            If you use a non-Bluesky PDS, please follow <a class="blue-link" href="https://github.com/alnkesq/AppViewLite?tab=readme-ov-file#custom-pds-accounts">these instructions</a> to make sure your PDS is properly configured.
                        </p>
                    </div>
                </Body>
            </AppViewLite.Web.Components.Layout.MainLayout>
        </ErrorContent>
    </ErrorBoundary>
    <script src="@Assets["lib/microsoft/signalr/dist/browser/signalr.js"]"></script>
    <script src="@Assets["lib/twemoji.min.js"]"></script>
    <script src="@Assets["lib/hls.min.js"]"></script>
    <script src="@Assets["app.js"]"></script>

</body>

</html>
