@inject RequestContext RequestContext

@code {
    [Parameter] public required BlueskyFeedGenerator Feed { get; set; }
    [Parameter] public bool Compact { get; set; }
}

<div class="feed-metadata-row @(Compact ? "feed-metadata-row-compact" : null)">
    <a href="@Feed.BaseUrl" class="feed-metadata-avatar" tabindex="-1">
        <img src="@(Feed.AvatarUrl ?? $"/assets/colorized/default-feed-avatar-{RequestContext.AccentColor}.svg")" />
    </a>
    <div class="feed-metadata-row-name feed-indented"><a class="underline-on-hover" href="@Feed.BaseUrl">@Feed.DisplayNameOrFallback</a></div>
    @if(!Compact)
    {
        <div class="feed-metadata-row-author feed-indented">Feed by <a class="underline-on-hover" href="@Feed.Author.HomeUrl">@Feed.Author.DisplayNameOrFallback</a> <span class="feed-metadata-row-implementation">(@Feed.ImplementationDisplayName)</span></div>
        <div class="feed-metadata-row-description">
            <TextWithFacets Text="@Feed.Data?.Description" Facets="@Feed.Data?.DescriptionFacets" />
        </div>
    }
</div>

