
@code {
    [Parameter] public BlueskyFeedGenerator Feed { get; set; }
}

<div class="feed-metadata-row">
    <a href="@Feed.BaseUrl" class="feed-metadata-avatar" tabindex="-1">
        <img src="@(Feed.AvatarUrl ?? "/assets/default-feed-avatar.svg")" />
    </a>
    <div class="feed-metadata-row-name feed-indented"><a class="underline-on-hover" href="@Feed.BaseUrl">@Feed.DisplayNameOrFallback</a></div>
    <div class="feed-metadata-row-author feed-indented">Feed by <a class="underline-on-hover" href="@Feed.Author.BaseUrl">@Feed.Author.DisplayNameOrFallback</a> <span class="feed-metadata-row-implementation">(@Feed.ImplementationDisplayName)</span></div>
    <div class="feed-metadata-row-description">
        <TextWithFacets Text="@Feed.Data?.Description" Facets="@Feed.Data?.DescriptionFacets" />
    </div>
</div>

