
@code {
    [Parameter] public BlueskyList List { get; set; }
}

<div class="list-metadata-row">
    <div class="list-metadata-row-name"><a class="underline-on-hover" href="@List.BaseUrl">@List.DisplayNameOrFallback</a></div>
    <div class="list-metadata-row-author">List by <a class="blue-link" href="@List.Author.BaseUrl">@List.Author.DisplayNameOrFallback</a></div>
    <div class="list-metadata-row-description">
        @List.Data?.Description
    </div>
</div>

