@using Microsoft.AspNetCore.Mvc.Routing
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Navigation
@inject BlueskyEnrichedApis Apis
@inject RequestContext RequestContext

@code {
    [Parameter] public required BlueskyPost[] Posts { get; set; }
    [Parameter] public bool ShowInReplyTo { get; set; } = true;
    [Parameter] public string? FocalPostDid { get; set; }
    [Parameter] public string? FocalPostRKey { get; set; }
    [Parameter] public string? NextContinuation { get; set; }
    [Parameter] public bool IsQuoteList { get; set; }
    [Parameter] public bool ShowAsGrid { get; set; }
    [Parameter] public bool FocalVideoAutoPlay { get; set; }
    [Parameter] public string EmptyListText { get; set; } = "No posts.";

    private Uri? continuationUrl;
    private Plc? focalPostPlc;

    protected override void OnParametersSet()
    {
        continuationUrl = Navigation.GetNextContinuationUrl(NextContinuation);
        focalPostPlc = FocalPostDid != null ? Apis.WithRelationshipsLock(rels => rels.SerializeDid(FocalPostDid, RequestContext), RequestContext) : null;
    }

    static bool IsLastOfGroup(BlueskyPost post, BlueskyPost? next)
    {
        if (next == null) return true;
        return next?.Data?.InReplyToPostId != post.PostId && next?.Data?.RootPostId != post.PostId;
    }

}

<ul class="post-list main-paginated-list @(ShowAsGrid ? "image-grid" : null)" data-focalpostdid="@FocalPostDid">
    @for (int i = 0; i < Posts.Length; i++)
    {
        var post = Posts[i];
        @if (ShowAsGrid)
        {
            @foreach (var (index, media) in (post.Data?.Media ?? []).Index())
            {
                var preverExternalLink = post.Did.StartsWith("did:yotsuba:", StringComparison.Ordinal);

                var thumbUrl = media.IsVideo ? Apis.GetVideoThumbnailUrl(post.Did, media.Cid, post.Author.Pds) : Apis.GetImageThumbnailUrl(post.Did, media.Cid, post.Author.Pds);
                var linkUrl =
                    preverExternalLink ? post.OriginalPostUrl :
                    media.IsVideo ? post.BaseUrl :
                    post.BaseUrl + (thumbUrl != null ? "/media/" + (index + 1) : null);
                <li class="image-grid-cell @(media.IsVideo ? "image-grid-cell-video" : null)" data-postdid="@post.Did" data-postrkey="@post.RKey">
                    <a class="image-grid-cell-link" href="@linkUrl" target="@(preverExternalLink ? "_blank" : null)" rel="noreferrer" title="@((post.Data!.Text + "\n\n" + (media.AltText != null ? "Image description:\n" + media.AltText : null)).Trim())">
                        @if (media.IsVideo)
                        {
                            <svg class="image-grid-cell-video-icon" width="800px" height="800px" viewBox="-0.5 0 7 7"><g transform="scale(0.2) translate(25, 1)" stroke="#aaa" stroke-width="0.1" fill="none" fill-rule="evenodd"><g transform="translate(-347.000000, -3766.000000)" fill="white"><g transform="translate(56.000000, 160.000000)"><path d="M296.494737,3608.57322 L292.500752,3606.14219 C291.83208,3605.73542 291,3606.25002 291,3607.06891 L291,3611.93095 C291,3612.7509 291.83208,3613.26444 292.500752,3612.85767 L296.494737,3610.42771 C297.168421,3610.01774 297.168421,3608.98319 296.494737,3608.57322"></path></g></g></g></svg>
                        }
                        <img src="@thumbUrl" class="image-grid-cell-image" />
                    </a>
                </li>

            }

        }
        else
        {
            var prev = i != 0 ? Posts[i - 1] : null;
            var next = i != Posts.Length - 1 ? Posts[i + 1] : null;
            var postId = post.PostId;
            var isFocalPost = post.Author.Did == FocalPostDid && post.RKey == FocalPostRKey;
            <PostRow 
                Post="post"
                ShowThreadLine="@(
                    (prev?.PostId == post.InReplyToPostId) ||
                    (prev?.PostId == post.RootPostId && post.IsNativeReply) || 
                    (postId == next?.RootPostId) ||
                    (postId == next?.InReplyToPostId))"
                ShowInReplyTo="@(
                    (ShowInReplyTo && (prev?.RootPostId != post.RootPostId && prev?.PostId.Author != postId.Author)) || 
                    (post.IsNativeReply && ((prev == null || (IsLastOfGroup(prev, post) && post.InReplyToPostId!.Value.Author != focalPostPlc)))))"
                IsLastOfGroup="@IsLastOfGroup(post, next)"
                ShowRestOfThreadLink="@(prev?.PostId == post.RootPostId && prev.PostId != post.InReplyToPostId)"
                IsFocalPost="@isFocalPost" 
                IsThreadView="@(focalPostPlc != null)"
                IsQuoteList="@IsQuoteList"
                VideoAutoPlay="@(FocalVideoAutoPlay && isFocalPost)" />
        }
    }
</ul>

@if (continuationUrl != null)
{
    
    <div class="pagination-button">
        <a href="@continuationUrl">Next</a>
    </div>
}

@if(Posts.Length == 0 && NextContinuation == null)
{
    <div class="no-results">@EmptyListText</div>
}
