
@code {
    [Parameter]
    public required BlueskyPost Post { get; set; }

    [Parameter]
    public bool IsQuote { get; set; }

    [Parameter]
    public bool ShowInReplyTo { get; set; } = true;

    [Parameter]
    public bool IsLastOfGroup { get; set; }

    [Parameter]
    public bool ShowRestOfThreadLink { get; set; }

    [Parameter]
    public bool IsFocalPost { get; set; }

    [Parameter]
    public bool ShowThreadLine { get; set; }

}




<li class="post @(IsFocalPost ? "post-focal" : null) @(IsLastOfGroup ? "post-last-of-group" : null)">
    <a href="@Post.BaseUrl" class="post-background-link"></a>

    @if (ShowRestOfThreadLink)
    {
        <div class="post-thread-continuation-line"></div>
        <a class="post-rest-of-thread post-indented blue-link" href="@Post.BaseUrl">View full thread</a>
    }

    @if (ShowThreadLine && !IsLastOfGroup)
    {
        <div class="post-thread-line"></div>
    }


    @if (Post.RepostedBy != null)
    {
        <div class="post-reposted-by post-indented">
            <svg class="post-reposted-by-icon" fill="none" width="13" height="13" viewBox="0 0 24 24" style="color: rgb(66, 87, 108); margin-right: 3px;"><path fill="hsl(211, 24%, 34.2%)" fill-rule="evenodd" clip-rule="evenodd" d="M17.957 2.293a1 1 0 1 0-1.414 1.414L17.836 5H6a3 3 0 0 0-3 3v3a1 1 0 1 0 2 0V8a1 1 0 0 1 1-1h11.836l-1.293 1.293a1 1 0 0 0 1.414 1.414l2.47-2.47a1.75 1.75 0 0 0 0-2.474l-2.47-2.47ZM20 12a1 1 0 0 1 1 1v3a3 3 0 0 1-3 3H6.164l1.293 1.293a1 1 0 1 1-1.414 1.414l-2.47-2.47a1.75 1.75 0 0 1 0-2.474l2.47-2.47a1 1 0 0 1 1.414 1.414L6.164 17H18a1 1 0 0 0 1-1v-3a1 1 0 0 1 1-1Z"></path></svg>
            Reposted by <InlineProfileLink Profile="@Post.RepostedBy" />
        </div>
    }


    <a href="@Post.Author.BaseUrl" class="post-author-image-link">
        <img src="@Post.Author.AvatarUrl" class="post-author-image">
    </a>

    <div class="post-meta post-indented">
        <a class="post-author underline-on-hover" href="@Post.Author.BaseUrl">
            @Post.Author.DisplayNameOrFallback
        </a> ·
        <a class="post-date" href="@Post.BaseUrl" title="@Program.ToFullHumanDate(Post.Date)">@Program.ToHumanDate(Post.Date)</a>
    </div>


    @if (ShowInReplyTo && Post.InReplyToUser != null)
    {
        <div class="post-in-reply-to post-indented">
            <svg class="post-in-reply-to-icon" viewBox="0 0 512 512" height="9" width="9" tabindex="-1" style="margin-right: 5px;"><path fill="hsl(211, 24%, 34.2%)" d="M205 34.8c11.5 5.1 19 16.6 19 29.2v64H336c97.2 0 176 78.8 176 176c0 113.3-81.5 163.9-100.2 174.1c-2.5 1.4-5.3 1.9-8.1 1.9c-10.9 0-19.7-8.9-19.7-19.7c0-7.5 4.3-14.4 9.8-19.5c9.4-8.8 22.2-26.4 22.2-56.7c0-53-43-96-96-96H224v64c0 12.6-7.4 24.1-19 29.2s-25 3-34.4-5.4l-160-144C3.9 225.7 0 217.1 0 208s3.9-17.7 10.6-23.8l160-144c9.4-8.5 22.9-10.6 34.4-5.4z"></path></svg>
            <span>
                Replying to <InlineProfileLink Profile="@Post.InReplyToUser" />
            </span>
        </div>
    }

    @if (Post.Data == null || Post.Data.Error != null)
    {

        <div class="post-error post-indented">[@(Post.Data?.Error ?? "Reached post retrieval limit for page load, consider refreshing")]</div>
    }
    <div class="post-body post-indented">
        @if (true || IsQuote)
        {
            <a href="@Post.BaseUrl" class="post-body-link-to-thread">
                @Post.Data?.Text
            </a>
        }
        else
        {
            @Post.Data?.Text
        }

    </div>

    @if (Post.Data?.EmbedRecordUri != null)
    {
        <div class="post-link-list post-indented">@Post.Data.EmbedRecordUri</div>

    }
    @if (Post.Data?.ExternalUrl != null)
    {
        <div class="post-link-list post-indented"><a href="@Post.Data.ExternalUrl" target="_blank" rel="noreferrer" class="blue-link">@(Post.Data.ExternalTitle ?? Post.Data.ExternalUrl)</a></div>
    }
    @if (Post.Data?.ExternalLinks != null)
    {
        @foreach (var link in Post.Data.ExternalLinks)
        {
            <div class="post-link-list post-indented"><a href="@link" target="_blank" rel="noreferrer" class="blue-link">@link</a></div>
        }

    }

    @if (Post.Data?.Media != null)
    {
        <div class="post-image-list post-indented @(Post.Data.Media.Length > 1 ? "post-image-list-compact" : null)">

            @foreach (var image in Post.Data.Media)
            {
                @if (image.IsVideo)
                {
                    <a href="@Post.BlueskyUrl" title="@image.AltText" class="post-image-link" target="_blank" rel="noreferrer">
                        View video on bsky.app
                    </a>
                }
                else
                {
                    <a href="@Program.GetImageFullUrl(Post.Author.Did, image.Cid)" title="@image.AltText" class="post-image-link" target="_blank" rel="noreferrer">
                        <img src="@Program.GetImageThumbnailUrl(Post.Author.Did, image.Cid)" class="post-image">
                    </a>
                }
            }
        </div>
    }


    @if (Post.QuotedPost != null)
    {
        <ul class="post-quoted post-indented">
            <PostRow Post="Post.QuotedPost" IsQuote="true" />
        </ul>

    }

    <div class="post-status-bar post-indented">
        @if(Post.ReplyCount != 0){
            <a href="@Post.BaseUrl" title="Show replies">@Post.ReplyCount 💬</a>
        }
        @if (Post.QuoteCount != 0)
        {
            <a href="@Post.BaseUrl/quotes" title="Show quotes">@Post.QuoteCount 💭</a>
        }
        @if (Post.RepostCount != 0)
        {
            <a href="@Post.BaseUrl/reposts" title="Show reposts">@Post.RepostCount 🔁</a>
        }
        @if (Post.LikeCount != 0)
        {
            <a href="@Post.BaseUrl/likes" title="Show likes">@Post.LikeCount ♥</a>
        }

        <a class="bsky-link" target="_blank" href="@Post.BlueskyUrl" title="View on bsky.app"><img src="/assets/bluesky.png"></a>

    </div>
</li>

@if (IsLastOfGroup)
{
    <div class="post-group-separator"></div>    
}
