
@code {
    [Parameter]
    public required BlueskyPost Post { get; set; }

    [Parameter]
    public bool LinkTextToThread { get; set; }

    [Parameter]
    public bool ShowInReplyTo { get; set; } = true;

    [Parameter]
    public bool IsLastOfGroup { get; set; }

    [Parameter]
    public bool ShowRestOfThreadLink { get; set; }

    [Parameter]
    public bool IsFocalPost { get; set; }
}



@if (ShowRestOfThreadLink)
{
    <a class="post-rest-of-thread" href="@Post.BaseUrl">View full thread</a>
}

<li class="post @(IsFocalPost ? "post-focal" : null) @(IsLastOfGroup ? "post-last-of-group" : null)">
    @if (Post.RepostedBy != null)
    {
        <div class="post-reposted-by">Reposted by <a href="@Post.RepostedBy.BaseUrl">@Post.RepostedBy.DisplayNameOrFallback</a></div>
    }

    @if (!LinkTextToThread){
        <a href="@Post.Author.BaseUrl" class="post-author-image-link">
            <img src="@Post.Author.AvatarUrl" class="post-author-image">
        </a>
    }
    <div class="post-meta">
        <a class="post-author" href="@Post.Author.BaseUrl">
            @Post.Author.DisplayNameOrFallback
        </a> ·
        <a class="post-date" href="@Post.BaseUrl" title="@Program.ToFullHumanDate(Post.Date)">@Program.ToHumanDate(Post.Date)</a>
    </div>


    @if (ShowInReplyTo && Post.InReplyToUser != null)
    {
        <div class="post-in-reply-to">Replying to <a href="@Post.InReplyToUser.BaseUrl">@Post.InReplyToUser.DisplayNameOrFallback</a></div>
    }

    @if (Post.Data == null || Post.Data.Error != null)
    {

        <div class="post-error">[@(Post.Data?.Error ?? "Reached post retrieval limit for page load, consider refreshing")]</div>
    }
    <div class="post-body">
        @if (true || LinkTextToThread)
        {
            <a href="@Post.BaseUrl" class="post-body-link-to-thread">
                @Post.Data?.Text
            </a>
        }
        else
        {
            @Post.Data?.Text
        }

    </div>

    @if (Post.Data?.EmbedRecordUri != null)
    {
        <div>@Post.Data.EmbedRecordUri</div>    

    }
    @if (Post.Data?.ExternalUrl != null)
    {
        <div><a href="@Post.Data.ExternalUrl" target="_blank" rel="noreferrer">@(Post.Data.ExternalTitle ?? Post.Data.ExternalUrl)</a></div>
    }
    @if (Post.Data?.ExternalLinks != null)
    {
        @foreach (var link in Post.Data.ExternalLinks)
        {
            <div><a href="@link" target="_blank" rel="noreferrer">@link</a></div>
        }

    }

    @if (Post.Data?.Media != null)
    {
        <div class="post-image-list">

            @foreach (var image in Post.Data.Media)
            {
                <a href="@Program.GetImageFullUrl(Post.Author.Did, image.Cid)" title="@image.AltText" class="post-image-link" target="_blank" rel="noreferrer">
                    <img src="@Program.GetImageThumbnailUrl(Post.Author.Did, image.Cid)" class="post-image">
                </a>
            }
        </div>
    }


    @if (Post.QuotedPost != null)
    {
        <ul class="post-quoted">
            <PostRow Post="Post.QuotedPost" LinkTextToThread="true" />
        </ul>

    }

    <div class="post-status-bar">        
        <a href="@Post.BaseUrl" title="Show replies">@Post.ReplyCount 💬</a>
        <a href="@Post.BaseUrl/quotes" title="Show quotes">@Post.QuoteCount 💭</a>
        <a href="@Post.BaseUrl/reposts" title="Show reposts">@Post.RepostCount 🔁</a>
        <a href="@Post.BaseUrl/likes" title="Show likes">@Post.LikeCount ♥</a>
        <a class="bsky-link" target="_blank" href="@Post.BlueskyUrl" title="View on bsky.app"><img src="/assets/bluesky.png"></a>

    </div>
</li>

@if (IsLastOfGroup)
{
    <div class="post-group-separator"></div>    
}
