@inject RequestContext RequestContext
@code {
    [Parameter] required public string Did { get; set; }

    private string ProfileBaseUrl => "/@" + Did;
}

<a href="@ProfileBaseUrl" class="underline-on-hover main-padding">Back to profile</a>
<div class="tabbed-lists-header">
    <div class="tabbed-lists-header-inner">

        <NavLink href="@(ProfileBaseUrl + "/following")">Following</NavLink>
        <NavLink href="@(ProfileBaseUrl + "/followers")">Followers</NavLink>
        @if (RequestContext.IsLoggedIn)
        {
            <NavLink href="@(ProfileBaseUrl + "/known-followers")">@(RequestContext.IsLoggedIn && Did == RequestContext.Session.Did ? "Mutuals" : "Followers you follow")</NavLink>
        }
    </div>
</div>

