@code {
    [Parameter] public required BlueskyProfile Profile { get; set; }
}

@{
    var displayHandle = Profile.PluggableProtocol?.GetDisplayHandle(Profile);
}
<a data-handledid="@Profile.Did" class="handle-generic @(displayHandle == null ? "handle-with-at-prefix" : "handle-without-at-prefix") @(displayHandle == null && Profile.HandleIsUncertain ? "handle-uncertain" : Profile.PossibleHandle == null && displayHandle == null ? "handle-invalid" : null)" href="@Profile.HomeUrl" tabindex="-1">@(displayHandle ?? Profile.PossibleHandle ?? "handle.invalid")</a>
