@code {
    [Parameter] public required BlueskyProfile Profile { get; set; }

}

@if (Profile.Badges != null)
{
    foreach (var badge in Profile.Badges)
    {
        <a data-badgedid="@Profile.Did" data-badgehandle="@(Profile.PossibleHandle != null ? StringUtils.NormalizeHandle(Profile.PossibleHandle) : null)" target="_blank" class="profile-badge @(badge.IsHandleBased && Profile.HandleIsUncertain ? "profile-badge-pending" : null)" href="@(badge.Url ?? Profile.BaseUrl)">
            <img src="/assets/badges/@(badge.Kind).svg" title="@(badge.Description)" />
        </a>
    }
}
