@page "/compose"
@inject RequestContext RequestContext
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor
@inject BlueskyEnrichedApis Apis

@code {
    [SupplyParameterFromQuery][Parameter] public string? ReplyDid { get; set; }
    [SupplyParameterFromQuery][Parameter] public string? ReplyRkey { get; set; }
    [SupplyParameterFromQuery][Parameter] public string? QuoteDid { get; set; }
    [SupplyParameterFromQuery][Parameter] public string? QuoteRkey { get; set; }
    [SupplyParameterFromQuery][Parameter] public string? Text { get; set; }

    public bool IsReply => ReplyRkey != null && ReplyDid != null;
    public bool IsQuote => QuoteRkey != null && QuoteDid != null;

    [SupplyParameterFromForm]
    private ComposePostData? Model { get; set; }

    protected override void OnInitialized()
    {
        Navigation.RedirectIfNotLoggedIn(RequestContext);
        Model ??= new();
        if (Model.Language == null)
        {
            Model.Language = RequestContext.PrivateProfile.LastPostLanguage ?? "en";
        }
    }

    private BlueskyPost? ReplyToPost;
    private BlueskyPost? QuotedPost;

    protected override async Task OnParametersSetAsync()
    {
        ReplyToPost = IsReply ? await Apis.GetPostAsync(ReplyDid!, ReplyRkey!, RequestContext) : null;
        QuotedPost = IsQuote ? await Apis.GetPostAsync(QuoteDid!, QuoteRkey!, RequestContext) : null;

        if (!string.IsNullOrEmpty(Text) && string.IsNullOrEmpty(Model!.Text))
        {
            Model!.Text = Text;    
        }

        if (IsQuote && BlueskyRelationships.TryGetPluggableProtocolForDid(QuoteDid!) != null)
        {
            Model!.Text += PostToInlineQuote(QuotedPost!) + "\n";
            QuotedPost = null;
        }
        if (IsReply && BlueskyRelationships.TryGetPluggableProtocolForDid(ReplyDid!) != null)
        {
            Model!.Text += PostToInlineQuote(ReplyToPost!) + "\n";
            ReplyToPost = null;
        }


    }

    private static string PostToInlineQuote(BlueskyPost post)
    {
        return string.Join(null, post.Data?.Text?.Split('\n').Select(x => "> " + x + "\n") ?? []) + (post.OriginalPostUrl != null ? post.OriginalPostUrl + "\n" : null);

    }

    private async Task Submit()
    {
        if (!string.IsNullOrWhiteSpace(Model!.Text) || (Model!.Files?.Count ?? 0) != 0 || !string.IsNullOrEmpty(Model.ExternalUrl))
        {
            var attachments = new List<BlobToUpload>();
            if (Model.Files != null)
            {
                foreach (var (index, file) in Model.Files.Index())
                {
                    var buffer = new byte[file.Length];
                    using var stream = file.OpenReadStream();
                    await stream.ReadExactlyAsync(buffer);
                    attachments.Add(new (file.ContentType, Model.AltTexts?.ElementAt(index), buffer));    
                }    

            }


            if (Model.Language != RequestContext.PrivateProfile.LastPostLanguage)
            {
                RequestContext.PrivateProfile.LastPostLanguage = Model.Language;
                Apis.SaveAppViewLiteProfile(RequestContext);
            }
            var rkey = await Apis.CreatePostAsync(Model.Text,
                inReplyTo: IsReply && BlueskyRelationships.TryGetPluggableProtocolForDid(ReplyDid!) == null ? new PostIdString(ReplyDid!, ReplyRkey!) : null, 
                quotedPost: IsQuote && BlueskyRelationships.TryGetPluggableProtocolForDid(QuoteDid!) == null ? new PostIdString(QuoteDid!, QuoteRkey!) : null,
                attachments: attachments,
                language: Model.Language,
                externalLink: !string.IsNullOrEmpty(Model.ExternalUrl) ? new Uri(Model.ExternalUrl) : null,
                RequestContext);
            Navigation.NavigateTo(RequestContext.Session.Profile!.BaseUrl + "/" + rkey, true);
        }
    }

    public class ComposePostData
    {
        public string? Text { get; set; }
        public IFormFileCollection? Files { get; set; }
        public string[]? AltTexts { get; set; }
        public string? Language { get; set; }
        public string? ExternalUrl { get; set; }
    }
}

@if (IsReply)
{
    <PageTitle>Reply</PageTitle>
    <br>
}
else
{
    <PageTitle>New post</PageTitle>
    <h1>New post</h1>
}

@if (ReplyToPost != null)
{
    <PostRow Post="ReplyToPost"/>
    <br>
}

<form method="post" @onsubmit="Submit" @formname="composeForm" class="main-padding compose-form" enctype="multipart/form-data">
    <AntiforgeryToken />
    <div>
        <InputTextArea @bind-Value="Model!.Text" oninput="composeTextAreaChanged()" class="compose-textarea" placeholder="@(IsReply ? "Write your reply" : "What's up?")" autofocus />
        <div class="compose-textarea-limit-container">
            <div class="compose-textarea-limit">
            </div>
        </div>
        <InputHidden @bind-Value="Model!.ExternalUrl" id="compose-external-url-field" />
    </div>

    <div class="compose-language-selector">
        <InputSelect @bind-Value="Model!.Language">
            @foreach (var lang in Enum.GetNames<LanguageEnum>().Where(x => x != nameof(LanguageEnum.Unknown)).Select(x =>
            {
                var code = x.Replace('_', '-');
                var displayName = System.Globalization.CultureInfo.GetCultureInfo(code)?.DisplayName ?? code;
                return (Code: code, DisplayName: displayName);
            }).OrderBy(x => x.DisplayName, StringComparer.InvariantCultureIgnoreCase))
            {
                <option value="@lang.Code">@lang.DisplayName</option>
            }
        </InputSelect>
    </div>
    <ul id="upload-file-list">
    </ul>
    <div class="compose-external-preview display-none">
        <button class="compose-external-preview-remove" onclick="event.preventDefault(); composeRemoveExternalPreview()">×</button>
        <a class="post-external-preview" target="_blank" rel="noreferrer" href="https://www.example.com/">
            
            <img class="post-external-preview-image">
            
            <div class="post-external-preview-metadata">
                <h2 class="post-external-preview-title"></h2>
                <div class="post-external-preview-summary"></div>
                <div class="post-external-preview-domain">
                    <svg fill="none" viewBox="0 0 24 24" width="12" height="12" style="transition-property: color, background-color, border-color, text-decoration-color, fill, stroke; transition-timing-function: cubic-bezier(0.17, 0.73, 0.14, 1); transition-duration: 100ms; color: rgb(140, 158, 178);"><path fill="hsl(211, 20%, 62.4%)" fill-rule="evenodd" clip-rule="evenodd" d="M4.4 9.493C4.14 10.28 4 11.124 4 12a8 8 0 1 0 10.899-7.459l-.953 3.81a1 1 0 0 1-.726.727l-3.444.866-.772 1.533a1 1 0 0 1-1.493.35L4.4 9.493Zm.883-1.84L7.756 9.51l.44-.874a1 1 0 0 1 .649-.52l3.306-.832.807-3.227a7.993 7.993 0 0 0-7.676 3.597ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm8.43.162a1 1 0 0 1 .77-.29l1.89.121a1 1 0 0 1 .494.168l2.869 1.928a1 1 0 0 1 .336 1.277l-.973 1.946a1 1 0 0 1-.894.553h-2.92a1 1 0 0 1-.831-.445L9.225 14.5a1 1 0 0 1 .126-1.262l1.08-1.076Zm.915 1.913.177-.177 1.171.074 1.914 1.286-.303.607h-1.766l-1.194-1.79Z"></path></svg>
                    <span class="post-external-preview-domain-text"></span>
                </div>
            </div>
        </a>
    </div>
    <div class="compose-submit-container">
        <button class="compose-submit" type="submit">@(IsReply ? "Reply" : "Post")</button>
        @if (ReplyToPost != null || QuotedPost != null)
        {
            <a href="@((ReplyToPost ?? QuotedPost)!.BaseUrl)" onclick="clearFileUploads();" class="compose-cancel-button">Cancel</a>
        }
    </div>
</form>

<div id="upload-drop-zone" onclick="this.querySelector('input').click();" >
    <p>Drag and drop files here or press Ctrl+V to paste</p>
    <input type="file" multiple onchange="composeUploadChange(event)" class="display-none" />
</div>



@if (QuotedPost != null)
{
    <ul class="post-quoted compose-quoted-post">
        <PostRow Post="QuotedPost" IsQuote="true" />
    </ul>
        

}
