@page "/notifications"
@inject RequestContext RequestContext
@inject NavigationManager NavigationManager
@inject BlueskyEnrichedApis Apis

@code {


    private CoalescedNotification[] newNotifications = [];
    private CoalescedNotification[] oldNotifications = [];
    [Parameter][SupplyParameterFromQuery] public int? Dark { get; set; }
    private Notification newestNotification;
    private string? pageTitle;
    protected override async Task OnParametersSetAsync()
    {
        var dark = Dark == 1;
        NavigationManager.RedirectIfNotLoggedIn(RequestContext);
        (newNotifications, oldNotifications, newestNotification) = await Apis.GetCoalescedNotificationsAsync(RequestContext, dark: dark);
        pageTitle = dark ? "Dark notifications" : "Notifications";
    }
}

<PageTitle>@pageTitle</PageTitle>

<h1>@pageTitle</h1>

<div id="notification-newest-id" data-newestnotification="@newestNotification.Serialize()" data-dark="@(Dark ?? 0)"></div>
@foreach (var notification in newNotifications)
{
    <NotificationRow Notification="@notification" />
}
@foreach (var notification in oldNotifications)
{
    <NotificationRow Notification="@notification" />
}

@if (newNotifications.Length + oldNotifications.Length <= 3)
{
    <div class="empty-notifications-message main-padding">
        Note: notifications that occurred before your first login to AppViewLite are not available.
    </div>
}
