@page "/@{did}"
@inject RequestContext RequestContext

@code {
    [Parameter][SupplyParameterFromQuery] public int? Replies { get; set; }
    [Parameter][SupplyParameterFromQuery] public int? Reposts { get; set; }
    [Parameter][SupplyParameterFromQuery] public int? Likes { get; set; }
    [Parameter][SupplyParameterFromQuery] public int? Media { get; set; }

    [Parameter] public string Did { get; set; }
    [Parameter][SupplyParameterFromQuery] public string? Continuation { get; set; }
    private string? NextContinuation;
    private FacetData[]? GuessedFacets;

    public bool ShowMediaOnly => (Media ?? 0) != 0;
    public bool ShowLikes => (Likes ?? 0) != 0;
    public bool ShowReplies => !ShowLikes && (Replies ?? (ShowMediaOnly ? 1 : 0)) != 0;
    public bool ShowReposts => !ShowLikes && (Reposts ?? (ShowReplies || ShowMediaOnly ? 0 : 1)) != 0;


    // [Parameter] public string? DidUnprefixed { get; set; }
    // public string? Did => DidUnprefixed != null ? "did:" + DidUnprefixed : null;
    private BlueskyFullProfile? Profile;
    private BlueskyPost[] Posts = [];
    const int MaxFollowersYouFollowNames = 3; // A, B and C    *or*   A, B and 2 others
    const int MaxFollowersYouFollowAvatars = 3;
    protected override async Task OnParametersSetAsync()
    {
        var r = RequestContext.OnStateChanged(StateHasChanged);
        Did = (await BlueskyEnrichedApis.Instance.ResolveHandleAsync(Did));
        Profile = await BlueskyEnrichedApis.Instance.GetFullProfileAsync(Did, r, Math.Max(MaxFollowersYouFollowNames, MaxFollowersYouFollowAvatars));
        GuessedFacets = StringUtils.GuessFacets(Profile.Profile?.BasicData?.Description);
        (Posts, NextContinuation) = await BlueskyEnrichedApis.Instance.GetUserPostsAsync(
            Did,
            includePosts: !ShowLikes,
            includeReplies: ShowReplies,
            includeReposts: ShowReposts,
            includeLikes: ShowLikes,
            mediaOnly: ShowMediaOnly,
            continuation: Continuation,
            ctx: r);
    }
}

<PageTitle>@Profile?.Profile.DisplayNameOrFallback</PageTitle>


@if (Profile != null)
{
    <div class="profile-page @(Profile.Profile.BlockReason != default ? "profile-page-blocked" : null)">
        <div class="profile-banner @(Profile.Profile.HasBannerImage ? null : "profile-banner-no-image")">
            @if (Profile.Profile.HasBannerImage)
            {
                <img src="@Program.GetImageBannerUrl(Did, Profile.Profile.BasicData!.BannerCidBytes!)"/>
            }
        </div>
        <img src="@Profile.Profile.AvatarUrl" class="profile-image-large main-padding" />
        <h1 class="main-padding">@Profile.Profile.DisplayNameOrFallback</h1>

        @if (RequestContext.IsLoggedIn && Profile.Profile.Plc != RequestContext.LoggedInUser)
        {
            <FollowButton Profile="@Profile.Profile" />
        }

        @if (Profile.Profile.BlockReason != default || Profile.Profile.FollowsYou || Profile.Profile.IsFollowedBySelf != null)
        {
            <span class="profile-follow-relationship main-padding">@(Profile.Profile.BlockReason.ToDisplayString() ?? (Profile.Profile.FollowsYou && Profile.Profile.IsFollowedBySelf != null ? "Mutuals" : (Profile.Profile.FollowsYou ? "Follows you" : "Following")))</span>
        }

        <div class="profile-follow-links main-padding">
            <a href="@Profile.Profile.BaseUrl/following" class="underline-on-hover">Following</a> ·
            <a href="@Profile.Profile.BaseUrl/followers" class="underline-on-hover">Followers</a>
            @if (RequestContext.IsLoggedIn && RequestContext.LoggedInUser == Profile.Profile.Plc)
            {
                <text> ·</text>
                <a href = "@Profile.Profile.BaseUrl/known-followers" class="underline-on-hover">Mutuals</a>
            }
        </div>

        <div class="profile-description main-padding">
            <TextWithFacets Text="@Profile.Profile.BasicData?.Description" Facets="@GuessedFacets" />
        </div>

        @if (Profile.FollowedByPeopleYouFollow != null && Profile.FollowedByPeopleYouFollow.Count != 0 && RequestContext.LoggedInUser != Profile.Profile.Plc)
        {
            var knownFollowerCount = Profile.FollowedByPeopleYouFollow.Count;
            <a class="profile-followers-you-follow main-padding" href="@Profile.Profile.BaseUrl/known-followers">
                <span class="profile-followers-you-follow-avatars">
                    @foreach (var user in Profile.FollowedByPeopleYouFollow.Take(MaxFollowersYouFollowAvatars).Index())
                    {
                        <div class="profile-followers-you-follow-avatar" style="z-index: @(-user.Index);">
                            <img src="@user.Item.AvatarUrl" class="profile-image-small">
                        </div>
                    }
                </span>
                <span class="profile-followers-you-follow-text">
                    Followed by @(
                        knownFollowerCount <= MaxFollowersYouFollowNames 
                            ? StringUtils.AndJoin(Profile.FollowedByPeopleYouFollow.Select(x => x.DisplayNameOrFallback).ToArray())
                            : (StringUtils.AndJoin(Profile.FollowedByPeopleYouFollow.Take(MaxFollowersYouFollowNames - 1).Select(x => x.DisplayNameOrFallback).ToArray()) + " and " + (knownFollowerCount - (MaxFollowersYouFollowNames - 1)) + " others")
                    )
                </span>
            </a>
        }

        
        <div class="tabbed-lists-header">
            <div class="tabbed-lists-header-inner">

                <NavLink Match="NavLinkMatch.All" href="@Profile.Profile.BaseUrl">Posts</NavLink>
                <NavLink Match="NavLinkMatch.All" href="@(Profile.Profile.BaseUrl + "?replies=1")">Replies</NavLink>
                <NavLink Match="NavLinkMatch.All" href="@(Profile.Profile.BaseUrl + "?media=1")">Media</NavLink>
                <NavLink Match="NavLinkMatch.All" href="@(Profile.Profile.BaseUrl + "?reposts=0&replies=0")">Original posts</NavLink>
                <NavLink Match="NavLinkMatch.All" href="@(Profile.Profile.BaseUrl + "?likes=1")">Likes</NavLink>

                @* <a class="bsky-link" href="@Profile.Profile.BlueskyUrl" title="View on bsky.app" target="_blank"><img src="/assets/bluesky.png"></a> *@
                <a class="search-link" href="/search?q= from:@Did" title="Search"><img src="/assets/search.png"></a>
            </div>
        </div>
        <PostList Posts="@Posts" NextContinuation="@NextContinuation" />
    </div>
}

