@page "/@{did}/indexing"
@page "/@{did}@{activityPubInstance}/indexing"
@using AppViewLite.Numerics
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor
@inherits ProfileComponentBase

@code {
    public BlueskyProfile? Profile;
    private RepositoryImportEntry[] Imports = [];

    [SupplyParameterFromForm]
    private RequestIndexData? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    protected override async Task OnParametersSetAsync()
    {
        RequestContext.AllowStale = false;
        await this.ResolveDidAsync();
        Profile = Apis.GetSingleProfile(Did, RequestContext);
        await Apis.EnrichAsync([Profile], RequestContext);
        Imports = Apis.WithRelationshipsLockForDid(Did, (plc, rels) =>
        {
            var imports = rels.GetRepositoryImports(plc).OrderBy(x => x.StartDate);
            return imports.Concat(Apis.RunningCarImports.Where(x => x.Plc == plc)).ToArray();
        }, RequestContext);
    }
    private void Submit()
    {
        Apis.ImportCarIncrementalAsync(Apis.SerializeSingleDid(Did, RequestContext), Model!.Kind, RequestContext, incremental: Model.Incremental).FireAndForget();
        Navigation.NavigateTo(Navigation.Uri, true);

    }

    public class RequestIndexData
    {
        public RepositoryImportKind Kind { get; set; } = RepositoryImportKind.CAR;
        public bool Incremental { get; set; } = true;
    }
}

<PageTitle>Repository indexing for @Profile?.DisplayNameOrFallback</PageTitle>

<a href="@Profile?.HomeUrl" class="blue-link main-padding display-block back-link">&lt; Back to profile</a>
<h1><a href="@Profile?.HomeUrl">@Profile?.DisplayNameOrFallback</a></h1>
<div class="main-padding">

    <h2>Repository indexing history</h2>

    @if (Imports.Length == 0)
    {
        <text>This repository has never been indexed before.</text>
    }


    @foreach (var import in Imports)
    {
        <div class="repository-import-row" data-pending="@(import.StillRunning ? 1 : 0)">
            <time title="@StringUtils.ToFullHumanDate(import.StartDate)">@StringUtils.ToHumanDate(import.StartDate, true)</time>
            ·
            @import.Kind.ToString()
            <div class="repository-import-row-details">
                @import.DisplayText
            </div>

        </div>


    }

</div>

<form method="post" @onsubmit="Submit" @formname="requestIndexForm" class="main-padding">
    <h2>Re-index this repository</h2>

    <AntiforgeryToken />
    <div>
        <InputRadioGroup @bind-Value="@Model!.Kind">
            Collection:
            <br />
            @foreach (var kind in Enum.GetValues<RepositoryImportKind>().Where(x => x != RepositoryImportKind.None))
            {
                <label>
                    <InputRadio Value="@kind" />
                    @kind
                    @(kind == RepositoryImportKind.CAR ? " (all collections, faster)" : null)
                </label>
                <br>
            }
        </InputRadioGroup>
    </div>
    <div>
        <br>
        <label>
            <InputCheckbox @bind-Value="@Model.Incremental" />
            Incremental
        </label>
        <br>
    </div>
    <div>
        <br>
        <button type="submit">Start indexing</button>
    </div>
</form>


