@inject AppViewLiteSession Session
@inject NavigationManager Navigation

@code{
    private long NotificationCount;
    private string LoginUrl;
    protected override void OnInitialized()
    {
        NotificationCount = BlueskyEnrichedApis.Instance.GetNotificationCount(Session);
        var url = Navigation.ToAbsoluteUri(Navigation.Uri);
        LoginUrl = url.AbsolutePath == "/login" ? "/login" : "/login?return=" + Uri.EscapeDataString(url.PathAndQuery);
    }
}

<nav>
    @if (Session.IsLoggedIn)
    {
        <a href="@Session.Profile!.BaseUrl">
            <img src="@Session.Profile!.AvatarUrl" class="post-author-image">
        </a>

        <div>
            <NavLink href="/following">
                Following
            </NavLink>
        </div>
    }

    <div>
        <NavLink href="/firehose">
            Firehose
        </NavLink>
    </div>
    <div>
        <NavLink href="/feed/did:plc:z72i7hdynmk6r22z27h6tvur/whats-hot">
            Discover
        </NavLink>
    </div>
    <div>
        <NavLink href="/search">
            Search
        </NavLink>
    </div>

    @if (Session.IsLoggedIn)
    {
        <div>
            <NavLink href="/notifications">
                Notifications
                @if (NotificationCount != 0)
                {
                    <span class="notification-badge">@NotificationCount</span>
                }
            </NavLink>
        </div>
        <div>
            <NavLink href="@Session.Profile!.BaseUrl">
                Profile
            </NavLink>
        </div>
        <div>
            <NavLink href="/logout" data-enhance-nav="false">
                Logout
            </NavLink>
        </div>
    }
    else
    {
        <div>
            <NavLink href="@LoginUrl">
                Login
            </NavLink>
        </div>
    }

</nav>

