@inject AppViewLiteSession Session
@inject NavigationManager Navigation
@inject BlueskyEnrichedApis Apis
@inject RequestContext RequestContext

@code{
    private long NotificationCount;
    private string LoginUrl;
    string? Announcement;
    protected override void OnInitialized()
    {
        NotificationCount = Apis.GetNotificationCount(Session, RequestContext);
        var url = Navigation.ToAbsoluteUri(Navigation.Uri);
        LoginUrl = url.AbsolutePath == "/login" ? "/login" : "/login?return=" + Uri.EscapeDataString(url.PathAndQuery);
        var staleness = Apis.PlcDirectoryStaleness;

        if (staleness.TotalDays >= 7) 
        {
            Announcement = $"The PLC directory is still syncing ({staleness.TotalDays:0.0} days out of date). User search might be incomplete";
        }

    }
    private const string DiscoverUrl = "@bsky.app/feed/whats-hot";
}

<nav>
    @if (Announcement != null)
    {
        <div class="sidebar-announcement">@Announcement</div>
    }
    @if (Session.IsLoggedIn)
    {
        <a href="@Session.Profile!.BaseUrl">
            <img src="@Session.Profile!.AvatarUrl" class="post-author-image">
        </a>

        <div>
            <NavLink href="/following">
                Following
            </NavLink>
        </div>
    }

    
    <div>
        <NavLink href="/search">
            Search
        </NavLink>
    </div>

    @if (Session.IsLoggedIn)
    {
        <div>
            <NavLink href="/notifications">
                Notifications
                <span class="notification-badge @(NotificationCount == 0 ? "display-none" : null)">@NotificationCount</span>
            </NavLink>
        </div>
    }
    
    <div>
        <NavLink href="/search?kind=feeds">
            Feeds
        </NavLink>
    </div>
    <div>
        <NavLink href="@DiscoverUrl">
            Discover
        </NavLink>
    </div>
    <div>
        <NavLink href="/firehose">
            Firehose
        </NavLink>
    </div>

    @if (Session.IsLoggedIn)
    {
        <div>
            <NavLink href="@Session.Profile!.BaseUrl">
                Profile
            </NavLink>
        </div>
        <div class="sidebar-item-post">
            <NavLink href="/compose">
                New Post
            </NavLink>
        </div>
        <div class="sidebar-item-small">
            <NavLink href="/logout" data-enhance-nav="false">
                Logout
            </NavLink>
        </div>
    }
    else
    {
        <div>
            <NavLink href="@LoginUrl">
                Login
            </NavLink>
        </div>
    }
    
    <div class="sidebar-item-small">
        <NavLink href="/request-index">
            Index repo
        </NavLink>
    </div>

    <div class="sidebar-item-small">
        <NavLink href="https://github.com/alnkesq/AppViewLite" target="_blank">
            Fork on GitHub
        </NavLink>
    </div>
</nav>

