@page "/debug/tables"
@inject BlueskyEnrichedApis Apis
@inject RequestContext RequestContext

<h1>Table stats</h1>
<PageTitle>Table stats</PageTitle>

@{
    var tables = Apis.WithRelationshipsUpgradableLock(rels =>
            {
                // Upgradable lock, so that we get the primary
                return rels.AllMultidictionaries.Select(x => (x.Name, x.InMemorySize, x.LastFlushed, x.OriginalWriteBytes, x.CompactationWriteBytes, x.OnDiskSize, x.KeyCount, x.ValueCount, x.SliceCount, x.Behavior)).ToArray();
            }, RequestContext);
}


<table class="debug-table">
    <tr>
        <th style="text-align: left">Name</th>
        <th>Size on disk</th>
        <th># Slices</th>
        <th># Keys</th>
        <th># Values</th>
        <th>Avg #values</th>
        <th>Buffered</th>
        <th>Flushed</th>
        <th>Original writes</th>
        <th>Compactation writes</th>
        <th>Total writes</th>
    </tr>


    @foreach (var table in tables.OrderByDescending(x => x.OriginalWriteBytes + x.OriginalWriteBytes + x.InMemorySize))
    {
        var averageValueCount = table.KeyCount == 0 ? 0 : (double)table.ValueCount / table.KeyCount;
        <tr>
        <td style="text-align: left">@table.Name</td>
        <td>@StringUtils.ToHumanBytes(table.OnDiskSize)</td>
        <td>@StringUtils.FormatEngagementCount(table.SliceCount)</td>
        <td>@StringUtils.FormatEngagementCount(table.KeyCount)</td>
        <td>@StringUtils.FormatEngagementCount(table.ValueCount)</td>
        <td>@(table.Behavior == AppViewLite.Storage.PersistentDictionaryBehavior.KeySetOnly ? "-" : table.Behavior ==  AppViewLite.Storage.PersistentDictionaryBehavior.SingleValue ? "(1)" : averageValueCount == 0 ? "0" : averageValueCount == 1 ? "1" : averageValueCount > 100 ? StringUtils.FormatEngagementCount((long)averageValueCount) : StringUtils.FormatTwoSignificantDigits(averageValueCount))</td>
        <td>@StringUtils.ToHumanBytes(table.InMemorySize)</td>
        <td>@StringUtils.ToHumanDate(table.LastFlushed)</td>
        <td>@StringUtils.ToHumanBytes(table.OriginalWriteBytes)</td>
        <td>@StringUtils.ToHumanBytes(table.CompactationWriteBytes)</td>
        <td>@StringUtils.ToHumanBytes(table.OriginalWriteBytes + table.CompactationWriteBytes)</td>
    </tr>
}
</table>
